<div class="mainBody">
    <div class="mod-tab">
        <div class="mod-tab-list">
            <ul id="main-nav">
                <li>
                    <a><span class="item-wrap">我的日志</span></a>
                </li>
                <li>
                    <a><span class="item-wrap">私密日志</span></a>
                </li>
                <li>
                    <a><span class="item-wrap">记事本</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="article-split"></div>
    <div class="article">
        <ol class="articlelist">
            <li><a>泪水迷失了双眼 看不清。寻你的路</a><span>2015-04-22 (0/1)</span></li>
            <li><a>断点 这一夜我画下了句号</a><span>2015-04-22 (0/1)</span></li>
            <li><a>回首过去 立足现在 着眼未来</a><span>2015-04-22 (0/1)</span></li>
            <li><a>时间匆忙了脚步</a><span>2015-04-22 (0/1)</span></li>
            <li><a>一封回忆两种情，两段时光六月天</a><span>2015-04-22 (0/1)</span></li>
            <li><a>世界上所有的钱，你见过几种</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
            <li><a>我是日志标题1</a><span>2015-04-22 (0/1)</span></li>
        </ol>
        <aside>
            <div class="category">
                <ul>
                    <li><span><a href="/">慢生活</a></span><span><a href="/">20</a></span></li>
                    <li><span><a href="/">爱情美文</a></span><span><a href="/">1</a></span></li>
                    <li><span><a href="/">主题日</a></span><span><a href="/">14</a></span></li>
                    <li><span><a href="/">古典风格</a></span><span><a href="/">7</a></span></li>
                </ul>
            </div>
        </aside>
    </div>
</div>
