<link href="css/article.css" rel="stylesheet">
<div class="mainBody">
    <div class="mod-tab">
        <div class="mod-tab-list">
            <ul id="main-nav">
                <li>
                    <a><span class="item-wrap">我的日志</span></a>
                </li>
                <li>
                    <a><span class="item-wrap">私密日志</span></a>
                </li>
                <li>
                    <a><span class="item-wrap">记事本</span></a>
                </li>
            </ul>
        </div>
        <div class="hr"></div>
    </div>
</div>
