<div class="mainBody">
    <div class="mod-tab">
        <div class="mod-tab-list">
            <ul id="main-nav">
                <li>
                    <a><span class="item-wrap">我的日志</span></a>
                </li>
                <li>
                    <a><span class="item-wrap">私密日志</span></a>
                </li>
                <li>
                    <a><span class="item-wrap">记事本</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="article-split"></div>
    <div class="article" ng-controller="ArticleController">
        <ol class="articlelist">
            <li ng-repeat="item in articles"><a href="#/article/{{item.id}}">{{item.title}}</a><span >{{item.createTime | date:'yyyy-MM-dd'}} ({{item.comment}}/{{item.favour}})</span></li>
        </ol>
        <aside>
            <div class="category">
                <ul>
                    <li><span><a href="/">慢生活</a></span><span><a href="/">20</a></span></li>
                    <li><span><a href="/">爱情美文</a></span><span><a href="/">1</a></span></li>
                    <li><span><a href="/">主题日</a></span><span><a href="/">14</a></span></li>
                    <li><span><a href="/">古典风格</a></span><span><a href="/">7</a></span></li>
                </ul>
            </div>
        </aside>
    </div>
</div>
