.hr{
    height: 2px;
    width: 100%;
    margin: 10px auto;
}
.article-split{
    height: 2px;
    margin: 10px auto;
    width: 950px;
    background: #FFF;
}
.articleBody{
    border: 0px red solid;
    border-radius: 8px 8px 0px 0px;
    min-height: 900px;
    width: 1000px;
    margin: 30px auto;
    background-color:  #222;
}
.articleBody .mod-tab{
    width: 950px;
    height: 52px;
    border: 0px blue solid;
    margin: 0 auto;
}
.mod-tab .mod-tab-list{
    height: 50px;
}
.mod-tab-list ul{
    float: left;
    height: 50px;
    position: relative;
}
.mod-tab-list ul li{
    float: left;
    outline: none;
    width: 96px;
    height: 52px;
}
.mod-tab-list ul li a{
    float: left;
    font-size: 14px;
    margin: 0px 10px;
    position: relative;
    vertical-align: middle;
}
.mod-tab-list .item-wrap{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 10px 0px;
    font-weight: bold;
}
/* 日志列表 */
.article { width: 950px; margin: 0 auto; }
.articlelist { width: 620px; float: left; }
.articlelist>li { border-right: #111 2px solid; padding: 10px 10px; }
.articlelist li a:hover { padding-left: 10px;color: #B5783E }
.articlelist li span{float: right;padding: 0 10px;}
.article.title { line-height: 60px; margin-top: 15px; border-bottom: 1px gray dotted}
.article.title .titleDetail { display: inline-block; font-size: 30px;font-weight: bold;}
.article.title .pubTime { display: inline-block; margin-left: 20px;}
.article.title .readNum { display: inline-block; margin-left: 10px;}
.article.content{ margin: 20px auto;}

/* 分类 */
.category li { line-height: 24px; }
.category li span:nth-child(1):before { content: "【"; }
.category li span:nth-child(1):after { content: "】"; }
.category li span:nth-child(1) a { padding: 0 5px; color: #366 }
.category li span:nth-child(2):before { content: "（"; }
.category li span:nth-child(2):after { content: "）"; }
.category li span:nth-child(2) { float: right }
.category li span:nth-child(2) a { padding: 0 5px;}
.category li a:hover { text-decoration: underline }